.order-container {
  margin: 20px 100px;
  flex: 1;
}
.order-summary {
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 30px;
}
.transit-details {
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 30px;
}
.order-detail {
  flex-direction: column;
}
.rts {
  direction: rtl;
}
.ltrs {
  direction: ltr;
}
