.container {
  display: flex;
  align-items: center;
  padding: 20px 100px;
  justify-content: space-between;
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
.navbar {
  display: flex;
  padding: 0;
  margin: 0;
  column-gap: 30px;
  list-style: none;
  cursor: pointer;
}

.inputWithButton {
  position: absolute;
  top: 60px;
  height: 100px;
  width: 200px;
  flex-direction: column;
  border: 1px solid #eeeeee;
  border-radius: 25px;
  padding: 20px;
  background: #ffffff;
  z-index: 3;
}

.inputWithButton input {
  height: 35px;
  padding-right: 60px;
}

.inputWithButton .icon-button {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 30px;
  padding: 5px 10px;
  background-color: red;
  border-radius: 5px;
}
.inputWithButton .error {
  color: red;
}
